<% provide(:title, @user.name) %>

<h1>タスク詳細</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
<table class="table table-bordered table-th-color>
  <tr>
    <th>ID</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>名称</th>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <th>詳細</th>
    <td><%= raw Rinku.auto_link(simple_format(@task.note)) %> 
  </tr>
  <tr>
    <th>作成日</th>
    <td><%= l(@task.created_at, format: :long) %></td>
  </tr>
  <tr>
    <td>更新日</td>
    <td><%= l(@task.updated_at, fomat: :long) %></td>
  </tr> 
</table>

  <%= link_to "編集", edit_user_task_path, class: "btn btn-lg btn-success" %>
  <%= link_to "削除", user_task_path, method: :delete,
      data: { confirm: "#{@task.title}を削除します。よろしいですか？" }, class: "btn btn-defoult" %>
    </div>
</div>    